<!-- <inPutoutPut InputString= "{{fs}}" (onClick)="upCase($event)"></inPutoutPut> -->
<!-- <p> {{result}} -->
<!-- <p> -->

<!-- <courses> </courses> -->
<!-- <direc> </direc> -->
<!-- <Ex></Ex> -->
<!-- <sign></sign> -->
<!-- <ex> </ex> -->
<!-- <Ngm> </Ngm> -->
<!-- <sign> </sign> -->
<!-- <exam> </exam>  -->
<!-- <direc> </direc> -->
<!-- <sw></sw>  -->
<!-- <sif> </sif> -->
<!-- <shift> </shift> -->
<!-- <pra> </pra> -->
 <!-- <data> </data> -->
<!-- <CA3> </CA3> -->

<!-- <formval> </formval> -->
<!-- <app-etp></app-etp>  -->
<!-- <ht></ht> -->

<!-- <htable> </htable> -->
<!-- <etp></etp> -->
<!-- <reg> </reg> -->
<!-- class="bg-warning" -->
<lab4>  </lab4>
